@charset 'UTF-8';

//--------------------------------------------------------------------
// config
//--------------------------------------------------------------------


// width
//--------------------------------------------------------------------
$base-width-full: 980px;
$base-min-width-full: 1024px;
$base-min-width-mobile: 360px;
$base-side-space-full: ($base-min-width-full - $base-width-full) / 2;
$base-side-space-mobile: 4%;

// color
//--------------------------------------------------------------------
$base-white: #fff;
$base-black: #000;
$base-gray-1: #353535;
$base-gray-2: #787878;
$base-gray-3: #a0a0a0;
$base-gray-4: #d5d5d5;
$base-gray-5: #e0e0e0;
$base-gray-6: #ebebeb;
$base-gray-7: #f5f5f5;
$base-red-1: #df0002;

$link-color: #3b99d8;
$link-hover-color: #e84824;
$btn-color-hover: #248ac6;
$reset-color: #d5d5d5;
$reset-hover-color: #c7c7c7;

// font
//--------------------------------------------------------------------
$base-font-normal: 450;
$base-font-bold: 600;
@mixin font-weight($weight: '') {
  @if $weight == 'bold' {
    font-weight: bold;
    .os-windows & {
      font-weight: $base-font-bold;
    }
  } @else {
    font-weight: normal;
    .os-windows & {
      font-weight: $base-font-normal;
    }
  }
}

// icon
//--------------------------------------------------------------------
@mixin icon-font($content1: '', $content2: '') {
  font-family: "Material Design Icons";
  @if $content2 == '' {
    content: unquote('\'\\') + $content1 + unquote('\'');
  } @else {
    content: unquote('\'\\') + $content1 + unquote('\\') + $content2 + unquote('\'');
  }
}

// opacity
//--------------------------------------------------------------------
@mixin opacity-transition($number: 1) {
  opacity: $number;
  transition: all .2s;
}
@mixin opacity-hover($number: .8) {
  opacity: $number;
}

// break point
//--------------------------------------------------------------------
@mixin media-type($maxWidth: 767px) {
  @media (max-width: $maxWidth) {
    @content;
  }
}
$media-xl: 999px;
$media-lg: 767px;
$media-md: 639px;
$media-sm: 539px;
$media-xs: 469px;

@mixin media-type($type: '') {
  @if $type == 'xl' {
    @media (max-width: $media-lg) {
      @content;
    }
  } @else if $type == 'lg' {
    @media (max-width: $media-lg) {
      @content;
    }
  } @else if $type == 'md' {
    @media (max-width: $media-md) {
      @content;
    }
  } @else if $type == 'sm' {
    @media (max-width: $media-sm) {
      @content;
    }
  } @else if $type == 'xs' {
    @media (max-width: $media-xs) {
      @content;
    }
  } @else {
    @media (max-width: $media-lg) {
      @content;
    }
  }
}
