//--------------------------------------------------------------------
// archive pagination (BlankBlanc)
//--------------------------------------------------------------------
.archive-pagination {
  font-size: 0;
  text-align: center;
  padding: 0;
  margin: 30px 0;
  .page-numbers {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 34px;
    vertical-align: top;
    width: 36px;
    height: 36px;
    margin: 0 2px;
    border: 1px solid $base-gray-6;
    background-color: $base-white;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    transition: all .2s;
    &:hover {
      background-color: $base-gray-7;
    }
  }
  .current {
    color: $base-gray-2;
    background-color: $base-gray-6;
    border: 1px solid $base-gray-5;
  }
  .first,
  .last,
  .prev,
  .next {
    width: auto;
    padding: 0 8px;
    &::before,
    &::after {
      line-height: 1;
      vertical-align: -.07em;
    }
  }
  .first::before {
    @include icon-font('f0600', '0020');
  }
  .last::after {
    @include icon-font('0020', 'f0601');
  }
  .prev::before {
    @include icon-font('f0141', '0020');
  }
  .next::after {
    @include icon-font('0020', 'f0142');
  }
  .dots {
    color: $base-gray-3;
    border: none;
  }
}

//--------------------------------------------------------------------
// archive pagination (the_posts_pagination)
//--------------------------------------------------------------------
.navigation.pagination {}
