//--------------------------------------------------------------------
// base
//--------------------------------------------------------------------
body {
  color: $base-gray-1;
  background-color: $base-gray-7;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

// fixed content width
#main-screen {
  position: relative;
  min-width: $base-min-width-full;
}

.wrap {
  position: relative;
  width: $base-width-full;
  padding: 0 $base-side-space-full;
  margin-left: auto;
  margin-right: auto;
}

.is-mobile {
  display: none;
}

.background-image-src {
  display: none !important;
}

input {
  &::-webkit-input-placeholder {
    color: #ddd;
  }
  &::-moz-placeholder {
    color: #ddd;
  }
  &:-ms-input-placeholder {
    color: #ddd;
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}
