@charset 'UTF-8';

//--------------------------------------------------------------------
// common
//--------------------------------------------------------------------

// main visual
//--------------------------------------------------------------------
#main-visual {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .wrap {
    position: relative;
    padding-bottom: 15%;
  }
  .page-title {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: $base-side-space-full;
    right: $base-side-space-full;
    color: $base-white;
    font-size: 2.8rem;
    line-height: 1.3;
    @include font-weight(normal);
    align-items: center;
    a {
      color: $base-white;
    }
  }
  .mv-title {
    font-size: 2.8rem;
    line-height: 1.3;
    &-content {
      p {
        font-size: 2.8rem;
        line-height: 1.3;
      }
    }
  }
  &.mv-home {
    .wrap {
      padding-bottom: 50%;
    }
  }
}

// icon
//--------------------------------------------------------------------
#contents .meta {
  .font-icon::before {
    color: $base-gray-4;
    font-size: 1.5rem;
    vertical-align: -1px;
    margin-right: 4px;
  }
  .date::before {
    @include icon-font('f00ed');
  }
  .categories::before {
    @include icon-font('f0770');
  }
  .tags::before {
    @include icon-font('f04fd');
  }
  .author::before {
    @include icon-font('f03ea');
  }
}

// w1200px~
//--------------------------------------------------------------------
@media (min-width: 1200px) {
  #main-visual {
    .wrap {
      padding-bottom: 180px;
    }
    &.mv-home {
      .wrap {
        padding-bottom: 600px;
      }
    }
  }
} // @media
