//--------------------------------------------------------------------
// article
//--------------------------------------------------------------------
.main-article {
  font-size: 1.6rem;
}

// article header
//--------------------------------------------------------------------
.main-article .entry-header {
  margin-bottom: 30px;
  .page-title {
    font-size: 2.8rem;
    line-height: 1.3;
    @include font-weight(normal);
    margin-bottom: 10px;
    a {
      color: $base-gray-1;
    }
  }
  .meta {
    line-height: 0;
    > li {
      display: inline-block;
      color: $base-gray-2;
      font-size: 1.3rem;
      line-height: 1.4;
      white-space: nowrap;
      vertical-align: top;
      margin: 0 20px 2px 0;
      a {
        display: inline-block;
      }
    }
  }
  .year,
  .month,
  .day {
    margin-right: 3px;
  }
}

// thambnail
//--------------------------------------------------------------------
.main-article .post-thumbnail {
  margin-bottom: 30px;
  .image {
    margin: 0;
    background-color: #fff;
    a {
      display: block;
      @include opacity-transition;
      &:hover {
        @include opacity-hover;
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
  .caption {
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1.5;
    min-width: 100%;
    margin: 0;
    padding: 7px;
    background-color: $base-gray-7;
    box-sizing: border-box;
  }
}

// body
//--------------------------------------------------------------------
.main-article .entry-body {
  font-size: 1.6rem;
  text-justify: inter-ideograph;
  text-align: justify;
  margin-bottom: 50px;
  abbr,
  acronym {
    text-decoration: none;
    border-bottom: 1px dotted $base-gray-3;
    cursor: help;
  }
  ins {
    text-decoration: none;
    border-bottom: 1px dotted $base-gray-3;
  }
  small {
    font-size: .8em;
  }
  img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    &.alignnone {
      display: block;
      margin: 30px 0;
    }
    &.aligncenter {
      display: block;
      margin: 30px auto;
    }
    &.alignleft {
      margin: 5px 30px 25px 0;
    }
    &.alignright {
      margin: 5px 0 25px 30px;
    }
  }
  a {
    &.more-link {
      position: relative;
      top: 10px;
      display: block;
      font-size: 1.4rem;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      width: 240px;
      padding: 10px;
      margin: 20px auto 10px;
      background-color: $base-white;
      border: 1px solid $base-gray-5;
      border-radius: 20px;
      box-sizing: border-box;
      clear: both;
      overflow: hidden;
      transition: all .2s;
      &::after {
        display: inline-block;
        font-size: 1.7rem;
        line-height: 0.5;
        vertical-align: -.1rem;
        @include icon-font('0020', 'f0140');
        margin: -.2rem 0 0 .2rem;
      }
      &:hover {
        background-color: $base-gray-7;
      }
      &.active {
        display: none;
      }
    }
    img {
      display: inline-block;
      @include opacity-transition;
      &:hover {
        @include opacity-hover;
      }
    }
  }
  .more-content {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all .2s;
    &.active {
      height: auto;
      visibility: visible;
      overflow: visible;
      opacity: 1;
    }
  }
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
  .aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
  h1,
  h2,
  h3 {
    &:first-of-type {
      margin-top: 0;
    }
  }
  h4,
  h5,
  h6 {
    & + p,
    &:first-of-type {
      margin-top: 0;
    }
  }
  p {
    font-size: 1em;
    line-height: 1.75;
    margin: 20px 0;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h1 {
    font-size: 1.8em;
    line-height: 1.3;
    margin: 50px 0 20px;
  }
  h2 {
    font-size: 1.6em;
    line-height: 1.35;
    margin: 50px 0 20px;
  }
  h3 {
    font-size: 1.4em;
    line-height: 1.4;
    margin: 50px 0 20px;
  }
  h4 {
    font-size: 1.2em;
    line-height: 1.4;
    margin: 25px 0 15px;
  }
  h5 {
    font-size: 1em;
    line-height: 1.5;
    margin: 25px 0 10px;
  }
  h6 {
    font-size: .866666em;
    line-height: 1.5;
    margin: 25px 0 5px;
  }
  div {
    line-height: 1.75;
  }
  hr {
    height: 0;
    margin: 25px 0;
    border: none;
    border-bottom: 1px solid $base-gray-6;
  }
  pre {
    position: relative;
    font-size: .933333em;
    line-height: 1.75;
    margin: 25px 0;
    padding: 30px;
    background-color: $base-gray-7;
  }
  blockquote {
    position: relative;
    font-size: .933333em;
    line-height: 1.75;
    margin: 25px 0;
    padding: 30px;
    background-color: $base-gray-7;
    p {
      margin: 0;
    }
    &::before {
      display: inline-block;
      position: absolute;
      top: 3px;
      left: 5px;
      @include icon-font('f0757');
      font-size: 3.2rem;
      line-height: 1;
      color: $base-gray-4;
    }
    &::after {
      display: inline-block;
      position: absolute;
      bottom: 3px;
      right: 5px;
      @include icon-font('f027e');
      font-size: 3.2rem;
      line-height: 1;
      color: $base-gray-4;
    }
  }
  ul,
  ol {
    font-size: 1em;
    line-height: 1.75;
    margin: 20px 0;
    padding-left: 2em;
    > li {
      margin: 8px 0;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
      > ul,
      > ol {
        margin-top: 8px;
      }
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  dl {
    font-size: 1em;
    line-height: 1.75;
    margin-bottom: 20px;
    > dt {
      @include font-weight(bold);
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
    }
    > dd {
      margin: 15px 0 0 20px;
    }
    dt + dd {
      margin-top: 0;
    }
  }
  table {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    caption {
      font-size: .933333em;
      margin-bottom: 5px;
    }
    thead,
    tfoot {
      th {
        font-size: 1em;
        padding: 7px;
        background-color: $base-gray-5;
        border: 1px solid $base-gray-4;
      }
      td {
        font-size: 1em;
        padding: 7px;
        background-color: $base-gray-7;
        border: 1px solid $base-gray-4;
      }
    }
    tbody {
      th {
        font-size: 1em;
        padding: 7px;
        background-color: $base-gray-7;
        border: 1px solid $base-gray-4;
      }
      td {
        font-size: 1em;
        padding: 7px;
        background-color: $base-white;
        border: 1px solid $base-gray-4;
      }
    }
  }
  fieldset {
    border: 1px solid $base-gray-5;
    padding: 16px;
    margin: 0;
    box-sizing: border-box;
    legend {
      font-size: 1em;
      padding: 0 5px;
    }
  }
}

// form
//--------------------------------------------------------------------
.main-article .entry-body {
  label {
    display: inline-block;
    line-height: 1.3;
    margin-bottom: 3px;
  }
  input {
    line-height: 1.5;
    &[type='text'] {
      font-size: 1.6rem;
      width: 100%;
      padding: 6px;
      border: 1px solid $base-gray-4;
      border-radius: 2px;
      box-sizing: border-box;
    }
    &[type='password'] {
      font-size: 1.6rem;
      width: 100%;
      padding: 6px;
      border: 1px solid $base-gray-4;
      border-radius: 2px;
      box-sizing: border-box;
    }
    &[type='email'] {
      font-size: 1.6rem;
      width: 100%;
      padding: 6px;
      border: 1px solid $base-gray-4;
      border-radius: 2px;
      box-sizing: border-box;
    }
    &[type='url'] {
      font-size: 1.6rem;
      width: 100%;
      padding: 6px;
      border: 1px solid $base-gray-4;
      border-radius: 2px;
      box-sizing: border-box;
    }
    &[type='checkbox'] {
      display: inline;
      position: absolute;
      margin: 9px 0 0 9px;
      opacity: 0;
      & + label,
      & + span {
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.3;
        padding: 5px;
        margin: 0 5px 5px 0;
        border-radius: 2px;
        cursor: default;
        transition: all .2s;
        &::before {
          display: block;
          flex: none;
          color: transparent;
          font-size: 20px;
          text-align: center;
          @include icon-font('f012c');
          line-height: 1;
          width: 20px;
          height: 20px;
          margin-right: 6px;
          background-color: $base-gray-6;
          border-radius: 2px;
          box-sizing: border-box;
          transition: all .2s;
        }
      }
      &:checked {
        & + label,
        & + span {
          background-color: $base-gray-7;
          &::before {
            color: $base-gray-1;
            background-color: $base-gray-4;
          }
        }
      }
    }
    &[type='radio'] {
      display: inline;
      position: absolute;
      margin: 9px 0 0 9px;
      opacity: 0;
      & + label,
      & + span {
        display: inline-flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: 1.3;
        padding: 5px;
        margin: 0 5px 5px 0;
        border-radius: 2px;
        cursor: default;
        transition: all .2s;
        &::before {
          display: block;
          flex: none;
          content: '';
          width: 20px;
          height: 20px;
          margin-right: 6px;
          background-color: $base-gray-4;
          border: 4px solid $base-gray-6;
          border-radius: 50%;
          box-sizing: border-box;
          transition: all .2s;
        }
      }
      &:checked {
        & + label,
        & + span {
          background-color: $base-gray-7;
          &::before {
            background-color: $base-gray-1;
            border: 4px solid $base-gray-4;
          }
        }
      }
    }
    &[type='range'] {
      width: 100%;
      &:focus {
        border-width: 0 !important;
        box-shadow: none;
      }
    }
    &[type='submit'] {
      color: $base-white;
      font-size: 1.6rem;
      line-height: 1;
      vertical-align: top;
      height: 40px;
      min-width: 160px;
      background-color: $link-color;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: all .2s;
      &:hover {
        background-color: $btn-color-hover;
      }
    }
    &[type='reset'] {
      color: $base-white;
      font-size: 1.6rem;
      line-height: 1;
      vertical-align: top;
      height: 40px;
      min-width: 80px;
      background-color: $reset-color;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: all .2s;
      &:hover {
        background-color: $reset-hover-color;
      }
    }
  }
  input[type='button'],
  button {
    color: $base-white;
    font-size: 1.6rem;
    line-height: 1;
    vertical-align: top;
    height: 40px;
    min-width: 160px;
    background-color: $link-color;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
    &:hover {
      background-color: $btn-color-hover;
    }
  }
  .select-area {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    &::before {
      position: absolute;
      top: 50%;
      right: 3px;
      font-size: 2.2rem;
      line-height: 1;
      @include icon-font('f0140');
      margin-top: -10px;
      z-index: 1;
    }
  }
  select {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.56;
    max-width: 100%;
    padding: 5px 25px 5px 5px;
    margin: 0;
    background-color: transparent;
    border: 1px solid $base-gray-4;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
  textarea {
    font-size: 1.6rem;
    line-height: 1.5;
    vertical-align: top;
    width: 100%;
    min-height: 200px;
    padding: 5px;
    border: 1px solid $base-gray-4;
    border-radius: 2px;
    box-sizing: border-box;
  }
}

// table（+js）
//--------------------------------------------------------------------
.main-article .entry-body {
  .table-content {
    position: relative;
    margin: 20px 0;
    .table-area {
      overflow-x: auto;
      table {
        position: relative;
      }
    }
    .table-arrow {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 36px;
      cursor: pointer;
      z-index: 9;
      &::after {
        display: block;
        position: absolute;
        top: calc(50% - 18px);
        color: rgba($base-black, .25);
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        width: 100%;
      }
    }
    .table-left-arrow {
      left: 0;
      background: linear-gradient(-90deg, rgba(#fff, 0) 0%, rgba(#fff, 1) 100%);
      &::after {
        @include icon-font('f004d');
      }
    }
    .table-right-arrow {
      right: 0;
      background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#fff, 1) 100%);
      &::after {
        @include icon-font('f0054');
      }
    }
  }
}

// captioned image
//--------------------------------------------------------------------
.main-article .entry-body {
  .wp-caption {
    margin: 0;
    img {
      display: inline-block;
      margin: 0;
    }
    &.alignnone {
      margin: 30px 0;
    }
    &.aligncenter {
      margin: 30px auto;
    }
    &.alignleft {
      margin: 5px 30px 25px 0;
    }
    &.alignright {
      margin: 5px 0 25px 30px;
    }
  }
  .wp-caption-text {
    font-size: .8em;
    line-height: 1.45;
    text-align: left;
    margin: 0;
    padding: 7px;
    background-color: $base-gray-7;
    min-width: 100%;
    box-sizing: border-box;
  }
}

// password protection
//--------------------------------------------------------------------
.main-article {
  .post-password-form {
    margin-top: 30px;
    padding: 25px 50px;
    background-color: $base-gray-7;
    text-align: center;
    p {
      font-size: 1em;
      line-height: 1.5;
      margin: 0;
      &:first-of-type {
        display: inline-block;
        text-align: left;
      }
      &:last-of-type {
        text-align: center;
        margin: 15px 0 5px;
      }
    }
    label {
      font-size: 1em;
      line-height: 1.5;
      display: inline-block;
    }
    input[type='password'] {
      width: 210px;
      height: 30px;
      margin: 0 3px;
    }
    input[type='submit'] {
      min-width: 80px;
      height: 30px;
    }
  }
}

// paging
//--------------------------------------------------------------------
.main-article .link-pages {
  font-size: 0;
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
  .heading {
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 3px;
  }
  .heading {
    margin-right: 10px;
  }
  .page {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 36px;
    width: 36px;
    height: 36px;
    margin: 0 2px;
    background-color: $base-gray-6;
    border: 1px solid $base-gray-5;
    box-sizing: border-box;
  }
  > .page {
    color: $base-gray-2;
  }
  > a {
    display: inline-block;
    margin: 0 2px;
    > span.page {
      margin: 0;
      border: 1px solid $base-gray-6;
      background-color: $base-white;
      box-sizing: border-box;
      transition: all .2s;
    }
    &:hover .page {
      background-color: $base-gray-7;
      text-decoration: underline;
    }
  }
}

// page navigation
//--------------------------------------------------------------------
.main-article .page-navigation {
  margin-top: 40px;
  border-top: 1px solid $base-gray-5;
  padding-top: 15px;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: 50%;
    }
  }
  a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid $base-gray-6;
    box-sizing: border-box;
    transition: all .2s;
    &:hover {
      background-color: $base-gray-7;
    }
  }
  .dir {
    position: relative;
    display: block;
    color: $base-gray-3;
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  .title {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: left;
  }
  .prev {
    text-align: left;
    margin-right: 15px;
    .dir {
      left: -4px;
      &::before {
        font-size: 1.7rem;
        @include icon-font('f0141');
        vertical-align: -2px;
      }
    }
  }
  .next {
    text-align: right;
    .dir {
      right: -4px;
      &::after {
        font-size: 1.7rem;
        @include icon-font('f0142');
        vertical-align: -2px;
      }
    }
  }
}
