@charset 'UTF-8';

//--------------------------------------------------------------------
// gotop button
//--------------------------------------------------------------------
#gotop {
  position: relative;
  display: block;
  .gotop {
    &-cfg {
      display: none;
    }
    &-start {
      top: 100px; // display start position (px)
    }
    &-bottom {
      position: absolute;
      bottom: 0; // bottom display fixed position (px)
    }
    &-offset {
      width: 767px; // mobile width breakpoint (px)
      margin-top: 55px; // mobile view offset top (px)
    }
    &-show {
      margin-bottom: 0;
      visibility: visible;
      opacity: 1;
    }
  }
  &-button {
    display: block;
    position: fixed;
    top: auto;
    bottom: 0;
    right: 15px;
    margin-bottom: -65px;
    padding-bottom: 15px;
    visibility: hidden;
    opacity: 0;
    z-index: 98;
    transition: visibility .5s, margin-bottom .5s, opacity .5s;
    * {
      font-family: 'Arial Narrow', Helvetica, sans-serif;
    }
    .symbol {
      display: block;
      width: 54px;
      height: 54px;
      background-color: $base-gray-5;
      border-radius: 50%;
      cursor: pointer;
      opacity: .65;
      transition: all .2s;
      &:hover {
        text-decoration: none;
        opacity: .9;
      }
      &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        @include icon-font('f005d');
        color: $base-gray-3;
        font-size: 28px;
        line-height: 1;
        height: 100%;
      }
    }
  }
}
