@charset 'UTF-8';

//--------------------------------------------------------------------
// main
//--------------------------------------------------------------------
#contents {
  display: block;
  padding-bottom: 45px;
  background-color: $base-white;
  overflow: hidden;
  dl,
  ul,
  ol {
    overflow: hidden;
  }
  > .wrap {
    padding-top: 40px;
  }
}

#contents-conatiner {
  display: flex;
  justify-content: space-between;
}

#first-column {
  width: 660px;
}

#second-column {
  float: right;
  width: 250px;
}

#one-column {
  width: 100%;
  & + #second-column {
    display: none;
  }
}

.hidden-column {
  display: none;
}

article {
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
}
