//--------------------------------------------------------------------
// main
//--------------------------------------------------------------------
#contents {
  display: block;
  padding-bottom: 80px;
  background-color: $base-white;
  > .wrap {
    padding-top: 40px;
  }
}

#contents-container {
  display: flex;
  justify-content: space-between;
  .second-column-right & {
    flex-direction: row-reverse;
  }
}

#first-column {
  width: 720px;
}

#second-column {
  width: 280px;
}

#one-column {
  width: 100%;
  & + #second-column {
    display: none;
  }
}

.hidden-column {
  display: none;
}

article {
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
}
