@use 'config' as cfg;
//--------------------------------------------------------------------
// pagination
//--------------------------------------------------------------------
.pagination {
  font-size: 0;
  text-align: center;
  padding: 0;
  margin: 30px 0;
  @include cfg.media-max(lg) {
    margin: 15px 0;
  }
  .page-numbers {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 34px;
    vertical-align: top;
    width: 36px;
    height: 36px;
    margin: 0 2px;
    border: 1px solid cfg.$base-gray-6;
    background-color: cfg.$base-white;
    box-sizing: border-box;
    @include cfg.media-max(lg) {
      line-height: 44px;
      width: 44px;
      height: 44px;
      margin: 0 1%;
    }
  }
  a {
    text-decoration: none;
    transition: all .2s;
    @include cfg.media-max(lg) {
      -webkit-tap-highlight-color: rgba(0, 0, 0, .06);
      background-color: transparent;
    }
    &:hover {
      background-color: cfg.$base-gray-7;
    }
  }
  .current {
    color: cfg.$base-gray-2;
    background-color: cfg.$base-gray-6;
    border: 1px solid cfg.$base-gray-5;
    @include cfg.media-max(lg) {
      margin: 0 4%;
    }
  }
  .first,
  .last,
  .prev,
  .next {
    width: auto;
    padding: 0 8px;
    &::before,
    &::after {
      line-height: 1;
      vertical-align: -.07em;
    }
  }
  .first::before {
    @include cfg.icon-font('f0600', '0020');
  }
  .last::after {
    @include cfg.icon-font('0020', 'f0601');
  }
  .prev::before {
    @include cfg.icon-font('f0141', '0020');
  }
  .next::after {
    @include cfg.icon-font('0020', 'f0142');
  }
  .prev {
    @include cfg.media-max(lg) {
      width: auto;
      padding: 0 3% 0 2%;
    }
  }
  .next {
    @include cfg.media-max(lg) {
      width: auto;
      padding: 0 2% 0 3%;
    }
  }
  .inactive,
  .first,
  .last {
    @include cfg.media-max(lg) {
      display: none;
    }
  }
  .dots {
    color: cfg.$base-gray-3;
    border: none;
    @include cfg.media-max(lg) {
      display: none;
    }
  }
  .screen-reader-text {
    display: none;
  }
  // the_posts_pagination
  .nav-links {
    .page-numbers {
      &:not(.current) {
        @include cfg.media-max(lg) {
          display: none;
        }
      }
      &.next {
        @include cfg.media-max(lg) {
          display: inline-block;
        }
      }
      &.prev {
        @include cfg.media-max(lg) {
          display: inline-block;
        }
        & ~ .page-numbers:nth-child(2) {
          @include cfg.media-max(lg) {
            display: inline-block;
          }
        }
        & ~ .page-numbers:nth-last-child(2) {
          @include cfg.media-max(lg) {
            display: inline-block;
          }
        }
        & ~ .page-numbers.dots:nth-last-child(3) + .page-numbers:nth-last-child(2) {
          @include cfg.media-max(lg) {
            display: none;
          }
        }
      }
      &.current {
        & ~ .page-numbers.dots:nth-last-child(3) + .page-numbers:nth-last-child(2) {
          @include cfg.media-max(lg) {
            display: inline-block;
          }
        }
      }
    }
  }
}
