@use 'sass:map';
@use 'config' as *;
//--------------------------------------------------------------------
// archive (tile style)
//--------------------------------------------------------------------
.archive-tiles {
  @include media-max(lg) {
    margin-left: var(--bb-gap-mobile);
    margin-right: var(--bb-gap-mobile);
  }
  .term-description {
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid var(--bb-gray-6);
    @include media-max(lg) {
      padding: 15px;
    }
    p {
      font-size: 1.5rem;
      line-height: 1.75;
    }
  }
  .archive-header {
    margin-bottom: 25px;
    @include media-max(lg) {
      margin: 0 0 15px;
    }
    .page-title {
      font-size: 2.8rem;
      line-height: 1.3;
      @include font-weight(normal);
      @include media-max(lg) {
        font-size: 2.4rem;
        line-height: 1.25;
      }
    }
  }
  .entry-articles {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 40px;
    font-size: 1.5rem;
    @include media-max(lg) {
      gap: 30px;
    }
    @include media-max(md) {
      grid-template-columns:  repeat(2, 1fr);
      gap: 20px;
    }
    .fullwidth-layout &,
    .nowrapwidth-layout & {
      grid-template-columns:  repeat(4, 1fr);
      @include media-max(lg) {
        grid-template-columns:  repeat(3, 1fr);
      }
      @include media-max(md) {
        grid-template-columns:  repeat(2, 1fr);
      }
    }
    .nowrapwidth-layout & {
      @include media-min($width-limit) {
        width: $width-limit;
        margin: 0 auto;
      }
      @include media-min($nowrap-tile-step * 5) {
        grid-template-columns:  repeat(5, 1fr);
      }
      @include media-min($nowrap-tile-step * 6) {
        grid-template-columns:  repeat(6, 1fr);
      }
    }
  }
  .thumbnail {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 0 auto 15px;
    background-color: var(--bb-white);
    overflow: hidden;
    a {
      display: block;
      @include opacity-transition;
      &:hover {
        @include opacity-hover;
      }
    }
    img {
      width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
  .no-thumbnail {
    position: relative;
    a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--bb-gray-7);
      span {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        color: var(--bb-gray-5);
        font-size: 1.2rem;
        line-height: 1;
        text-align: center;
        margin-top: -.5em;
      }
    }
  }
  .entry-header {
    margin-bottom: 10px;
    .title {
      font-size: 2rem;
      line-height: 1.3;
      @include font-weight(normal);
      margin-bottom: 5px;
      @include media-max(lg) {
        font-size: 1.6rem;
        line-height: 1.3;
      }
    }
    .meta {
      line-height: 0;
      li {
        display: inline-block;
        color: var(--bb-gray-2);
        font-size: 1.3rem;
        line-height: 1.4;
        margin: 0 20px 2px 0;
        @include media-max(lg) {
          font-size: 1.2rem;
          margin: 0 10px 2px 0;
        }
      }
      .year,
      .month,
      .day,
      .separator {
        margin-right: .15em;
        @include media-max(lg) {
          margin-right: 0;
        }
      }
    }
  }
  .entry-body {
    text-align: justify;
    @include media-max(lg) {
      padding-bottom: 15px;
      clear: both;
    }
    p {
      font-size: 1.5rem;
      line-height: 1.6;
      @include media-max(lg) {
        font-size: 1em;
        line-height: 1.65;
      }
    }
  }
  #no-result {
    clear: both;
    text-align: center;
    width: 100%;
    padding: 60px 0 80px;
    margin-left: 20px;
    margin-right: 20px;
    @include media-max(lg) {
      padding: 80px 0;
      margin-left: 10px;
      margin-right: 10px;
    }
    p {
      color: var(--bb-gray-3);
      font-size: 1.6rem;
    }
  }
}
