@use 'config' as cfg;
//--------------------------------------------------------------------
// base
//--------------------------------------------------------------------
body {
  color: cfg.$base-gray-1;
  background-color: cfg.$base-gray-7;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: cfg.$link-color;
  &:hover {
    color: cfg.$link-color-hover;
  }
}

// fixed content width
#main-screen {
  position: relative;
  min-width: cfg.$width-desktop + cfg.$gap-desktop * 2;
  @include cfg.media-max(xl) {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    min-width: cfg.$min-width-mobile;
    background-color: cfg.$base-gray-7;
  }
  @include cfg.media-min(lg) { // iPhone notch measures
    .os-ios.device-mobile & {
      min-width: cfg.$width-desktop + cfg.$gap-desktop * 4;
    }
  }
}

.wrap {
  position: relative;
  width:  cfg.$width-desktop + cfg.$gap-desktop * 2;
  padding: 0 cfg.$gap-desktop;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  @include cfg.media-max(xl) {
    width: 100%;
    padding: 0;
  }
}

.is-mobile {
  display: none;
  @include cfg.media-max(xl) {
    display: inherit;
  }
}

.is-pc {
  @include cfg.media-max(xl) {
    display: none;
  }
}

.background-image {
  &-block {
    position: relative;
    opacity: 0;
    transition: opacity .2s;
    &.show {
      opacity: 1;
    }
  }
  &-src {
    display: none !important;
  }
  &-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}
