@use 'config' as cfg;
//--------------------------------------------------------------------
// bread crumb
//--------------------------------------------------------------------
#bread-crumb {
  padding-top: 7px;
  background-color: cfg.$base-white;
  @include cfg.media-type(xl) {
    display: none;
  }
  .bread-crumb-list {
    font-size: 0;
    margin: 0;
    padding: 5px 0 0;
    list-style: none;
    li,
    div,
    span,
    a {
      display: inline-block;
    }
    li,
    div {
      font-size: 1.3rem;
      line-height: 1.3;
      &::after {
        position: relative;
        top: -2px;
        display: inline-block;
        content: '';
        width: 4px;
        height: 4px;
        margin-right: 5px;
        border-top: 1px solid cfg.$base-gray-2;
        border-right: 1px solid cfg.$base-gray-2;
        transform: rotate(45deg);
        transform-origin: center;
      }
      &:first-child > a {
        margin-left: 0;
      }
      a {
        position: relative;
        margin: 0 6px;
        z-index: 2;
      }
      i {
        font-size: 1.5rem;
        line-height: 1;
        vertical-align: -3px;
      }
    }
    .page {
      margin-left: -10px;
    }
    .current {
      &::after {
        display: none;
      }
      span {
        color: cfg.$base-gray-2;
      }
    }
  }
}
