@use 'config' as cfg;
//--------------------------------------------------------------------
// gallery
//--------------------------------------------------------------------
.main-article .entry-body {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
    @include cfg.media-type(lg) {
      margin: -6px;
    }
  }
  .gallery-item {
    margin: 8px;
    background-color: cfg.$base-white;
    border: 1px solid cfg.$base-gray-6;
    box-sizing: border-box;
    @include cfg.media-type(lg) {
      margin: 6px;
      width: calc(33.33% - 12px) !important;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
  .gallery-columns-1 {
    .gallery-item {
      width: calc(100% - 16px);
    }
  }
  .gallery-columns-2 {
    .gallery-item {
      width: calc(50% - 16px);
    }
  }
  .gallery-columns-3 {
    .gallery-item {
      width: calc(33.33% - 16px);
    }
  }
  .gallery-columns-4 {
    .gallery-item {
      width: calc(25% - 16px);
    }
  }
  .gallery-columns-5 {
    .gallery-item {
      width: calc(20% - 16px);
    }
  }
  .gallery-columns-6 {
    .gallery-item {
      width: calc(16.66% - 16px);
    }
  }
  .gallery-columns-7 {
    .gallery-item {
      width: calc(14.28% - 16px);
    }
  }
  .gallery-columns-8 {
    .gallery-item {
      width: calc(12.5% - 16px);
    }
  }
  .gallery-columns-8 {
    .gallery-item {
      width: calc(12.5% - 16px);
    }
  }
  .gallery-columns-9 {
    .gallery-item {
      width: calc(11.11% - 16px);
    }
  }
  .gallery-icon {
    padding: 5%;
    background-color: cfg.$base-white;
    box-sizing: border-box;
    a {
      display: inline-block;
      text-align: center;
      width: 100%;
      overflow: hidden;
    }
  }
  .gallery-caption {
    padding: 8px 5%;
    background-color: transparent;
    border-top: 1px dotted cfg.$base-gray-6;
  }
}
