@use 'config' as *;
//--------------------------------------------------------------------
// common
//--------------------------------------------------------------------

// main visual
//--------------------------------------------------------------------
#main-visual {
  position: relative;
  margin: 0 auto;
  opacity: 0;
  &.show {
    opacity: 1;
  }
  .wrap {
    position: relative;
    padding-bottom: 15%;
  }
  .background-image-src {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .page-title {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: $gap-desktop;
    right: $gap-desktop;
    color: $base-white;
    font-size: 2.8rem;
    line-height: 1.3;
    @include font-weight(normal);
    align-items: center;
    @include media-max(lg) {
      left: 0;
      right: 0;
      font-size: 2.4rem;
      line-height: 1.25;
      max-width: $max-width-mobile;
      padding: 0 $gap-mobile;
      margin: 0 auto;
      box-sizing: border-box;
    }
    a {
      color: $base-white;
    }
  }
  .mv-title {
    font-size: 2.8rem;
    line-height: 1.3;
    @include media-max(lg) {
      font-size: 2.2rem;
    }
    &-content {
      p {
        font-size: 2.8rem;
        line-height: 1.3;
        @include media-max(lg) {
          font-size: 2.2rem;
        }
      }
    }
  }
  &.mv-home {
    .wrap {
      padding-bottom: 50%;
    }
  }
}

// fade in
//--------------------------------------------------------------------
#contents [data-bb-option="fade-in"] {
  opacity: 0;
  transition: opacity .5s;
  &.active {
    opacity: 1;
  }
}

// icon
//--------------------------------------------------------------------
#contents .meta {
  .font-icon::before {
    color: $base-gray-4;
    font-size: 1.5rem;
    vertical-align: -.1em;
    margin-right: 4px;
  }
  .date::before {
    @include icon-font('f00ee');
  }
  .categories::before {
    @include icon-font('f0770');
  }
  .tags::before {
    @include icon-font('f04fd');
  }
  .author::before {
    @include icon-font('f0d13');
  }
}

// w1200px~
//--------------------------------------------------------------------
@media (min-width: 1200px) {
  #main-visual {
    .wrap {
      padding-bottom: 180px;
    }
    &.mv-home {
      .wrap {
        padding-bottom: 600px;
      }
    }
  }
} // @media
