//--------------------------------------------------------------------
// attachment
//--------------------------------------------------------------------
#contents.attachment {
  .entry-attachment {
    margin: 0 auto 35px;
    max-width: 100%;
    .image {
      max-width: 100%;
      a {
        display: block;
      }
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 900px;
      }
    }
    .caption {
      font-size: .933333em;
      line-height: 1.5;
      text-align: left;
      margin: 0;
      padding: 8px 12px;
      background-color: $base-gray-7;
      min-width: 100%;
      box-sizing: border-box;
    }
  }
  .page-navigation {
    text-align: center;
    margin: -20px 0 20px;
    border-top: none;
    a {
      display: inline-block;
      color: $base-white;
      font-size: 1.5rem;
      line-height: 40px;
      height: 40px;
      max-width: 240px;
      background-color: $reset-color;
      border: none;
      border-radius: 4px;
      padding: 0 20px;
      box-sizing: border-box;
      cursor: pointer;
      transition: all .2s;
      @include media-type(lg) {
        font-size: 1.7rem;
        line-height: 50px;
        height: 50px;
      }
      &:hover {
        text-decoration: none;
        background-color: $reset-hover-color;
      }
    }
  }
}
