@use 'config' as *;
//--------------------------------------------------------------------
// gallery
//--------------------------------------------------------------------
.main-article .entry-body {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
    @include media-max(lg) {
      margin: -5px;
    }
  }
  .gallery-item {
    margin: 5px;
    background-color: var(--bb-white);
    border: 1px solid var(--bb-gray-6);
    box-sizing: border-box;
    @include media-max(lg) {
      width: calc(100% / 3 - 10px) !important;
    }
    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
  .gallery-columns-1 {
    .gallery-item {
      width: calc(100% - 10px);
    }
  }
  .gallery-columns-2 {
    .gallery-item {
      width: calc(100% / 2 - 10px);
    }
  }
  .gallery-columns-3 {
    .gallery-item {
      width: calc(100% / 3 - 10px);
    }
  }
  .gallery-columns-4 {
    .gallery-item {
      width: calc(100% / 4 - 10px);
    }
  }
  .gallery-columns-5 {
    .gallery-item {
      width: calc(100% / 5 - 10px);
    }
  }
  .gallery-columns-6 {
    .gallery-item {
      width: calc(100% / 6 - 10px);
    }
  }
  .gallery-columns-7 {
    .gallery-item {
      width: calc(100% / 7 - 10px);
    }
  }
  .gallery-columns-8 {
    .gallery-item {
      width: calc(100% / 8 - 10px);
    }
  }
  .gallery-columns-9 {
    .gallery-item {
      width: calc(100% / 9 - 10px);
    }
  }
  .gallery-icon {
    padding: 3%;
    background-color: var(--bb-white);
    box-sizing: border-box;
    a {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      width: 100%;
      overflow: hidden;
    }
  }
  .gallery-caption {
    padding: 8px 5%;
    background-color: transparent;
    border-top: 1px dotted var(--bb-gray-6);
  }
}
