@use 'config' as cfg;
//--------------------------------------------------------------------
// header part
//--------------------------------------------------------------------
#header-part {
  position: relative;
  height: 40px;
  z-index: 2;
  @include cfg.media-max(xl) {
    display: none;
  }
  & &-inner {
    @include cfg.media-min(xl) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
}

// global nav
//--------------------------------------------------------------------
#global-nav {
  background-color: cfg.$base-gray-7;
  .menu {
    padding-bottom: 40px;
    > li {
      position: relative;
      float: left;
      border-right: 1px solid cfg.$base-gray-7;
      box-sizing: border-box;
      .child-group {
        left: 0;
      }
      > a {
        display: block;
        font-size: 1.5rem;
        text-align: center;
        line-height: 40px;
        height: 40px;
        padding: 0 20px;
        background-color: cfg.$base-gray-6;
        box-sizing: border-box;
        &:hover {
          background-color: cfg.$base-gray-4 !important;
        }
      }
      a {
        color: cfg.$base-gray-1;
        transition: all .2s;
        &:hover {
          color: cfg.$base-gray-1;
          text-decoration: none;
          background-color: cfg.$base-gray-7;
        }
      }
      &.current-menu-parent > a,
      &.current-menu-item > a {
        background-color: cfg.$base-gray-5;
      }
      &.menu-active > a {
        background-color: cfg.$base-gray-4 !important;
      }
    }
  }
}

// pull-down menu
//--------------------------------------------------------------------
#header-nav,
#global-nav {
  .menu {
    > li {
      .child-group {
        position: absolute;
        top: auto;
        visibility: hidden;
      }
      .sub-menu {
        font-size: 1.5rem;
        min-width: 160px;
        padding: 0;
        background-color: cfg.$base-white;
        border: 1px solid cfg.$base-gray-5;
        z-index: 2;
        box-sizing: border-box;
        li {
          border-top: 1px solid cfg.$base-gray-6;
          a {
            display: block;
            text-align: left;
            font-size: 1em;
            line-height: 1.3;
            white-space: nowrap;
            width: auto;
            height: auto;
            padding: 10px 15px;
            background-color: transparent;
            transition: all .2s;
            &:hover {
              text-decoration: none;
              background-color: cfg.$base-gray-6 !important;
            }
          }
          .sub-menu {
            background-color: transparent;
            border: none;
            li {
              border-top: 1px dashed cfg.$base-gray-7;
              a {
                font-size: .93333em;
                line-height: 1.4;
                padding-left: 1em;
                // &::before {
                //   @include cfg.icon-font('f0142');
                //   color: cfg.$base-gray-4;
                //   vertical-align: -1px;
                //   margin-right: 3px;
                //   transition: all .2s;
                // }
                // &:hover::before {
                //   color: cfg.$base-gray-3;
                // }
              }
              li {
                a {
                  padding-left: 2em;
                }
              }
            }
          }
          &.current-menu-item > a {
            background-color: cfg.$base-gray-7;
          }
        }
        > li:first-child {
          border-top: none;
        }
      }
      // pull-down animation
      .child-group {
        max-height: 0;
        opacity: 0;
        transition: all .12s ease-out;
        overflow: hidden;
      }
      &:hover .child-group {
        max-height: 100vh;
        opacity: 1;
        transition: all .2s linear;
        visibility: visible;
      }
      .touch-device &.menu-item-has-children {
        &::before {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: '';
          background-color: transparent;
          z-index: 2;
          transition: z-index .5s;
        }
        &.touchstart {
          &::before {
            z-index: -1;
          }
        }
      }
    }
  }
}

#main-container {
  &::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: cfg.$base-black;
    opacity: 0;
    z-index: -1;
    transition: opacity .2s 0s, z-index 0s .2s;
    @include cfg.media-max(xl) {
      display: none;
    }
  }
  &.gnav-active {
    &::after {
      opacity: .5;
      z-index: 500;
      transition: opacity .2s 0s, z-index 0s 0s;
    }
  }
}
