@use 'config' as cfg;
@use 'sass:map';
//--------------------------------------------------------------------
// gotop button
//--------------------------------------------------------------------
#gotop {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 499;
  @include cfg.media-max(lg) {
    width: 90px;
  }
  .gotop {
    &-cfg {
      display: none;
    }
    &-start {
      top: 100px; // display start position (px)
    }
    &-end {
      bottom: 0; // bottom display fixed position (px)
    }
    &-bottom {
      position: absolute;
    }
    &-show {
      margin-bottom: 0;
      visibility: visible;
      opacity: 1;
    }
  }
  &-button {
    display: block;
    position: fixed;
    top: auto;
    bottom: 0;
    right: cfg.$gap-desktop;
    margin-bottom: -90px;
    padding-bottom: cfg.$gap-desktop;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    transition: visibility .5s, margin-bottom .5s, opacity .5s;
    pointer-events: auto;
    @include cfg.media-max(lg) {
      right: cfg.$gap-mobile;
    }
    .gotop-symbol {
      position: relative;
      width: 54px;
      height: 54px;
      background-color: cfg.$base-gray-5;
      border-radius: 50%;
      cursor: pointer;
      opacity: .65;
      transition: all .2s;
      @include cfg.media-max(lg) {
        width: 48px;
        height: 48px;
        opacity: .65 !important;
      }
      &:hover {
        text-decoration: none;
        opacity: .9;
      }
      .symbol {
        display: block;
        position: absolute;
        top: 18px;
        left: 0;
        right: 0;
        width: 16px;
        height: 16px;
        margin: 0 auto;
        border-top: 2px solid cfg.$base-gray-3;
        border-left: 2px solid cfg.$base-gray-3;
        transform: rotate(45deg);
        box-sizing: border-box;
        @include cfg.media-max(lg) {
          top: 16px;
        }
        &:before {
          position: absolute;
          top: 0;
          left: -1.6px;
          content: '';
          width: 2px;
          height: 22px;
          background-color: cfg.$base-gray-3;
          transform-origin: 0 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
