@use 'config' as cfg;
//--------------------------------------------------------------------
// initialize
//--------------------------------------------------------------------
* {
  @include cfg.font-family();
  @media all and (-ms-high-contrast: none) { // ie11
    @include cfg.font-family(ie11);
  }
}

html {
  font-size: 62.5%;
  height: 100%;
  min-width: 320px;
}

body {
  position: relative;
  @include cfg.font-weight(normal);
  line-height: 1;
  line-break: strict;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  @include cfg.media-max(lg) {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
  }
}

h1, h2, h3, h4, h5, h6, p,
dl, ul, ol, table, blockquote {
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 0;
}

dt, dd, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

img {
  vertical-align: top;
  border: none;
  @include cfg.media-max(lg) {
    max-width: 100%;
  }
}

a {
  &:link, &:visited {
    text-decoration: none;
  }
  &:hover, &:active {
    text-decoration: underline;
    @include cfg.media-max(lg) {
      text-decoration: none;
    }
  }
}

em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, th, strong {
  @include cfg.font-weight(bold);
}

figure {
  margin: 0;
}

form {
  margin: 0;
  padding: 0;
}

input, textarea, select, button {
  @include cfg.font-weight(normal);
  outline: none;
  appearance: none;
}

select {
  &::-ms-expand {
    display: none;
  }
}
