@use 'config' as *;
//--------------------------------------------------------------------
// main
//--------------------------------------------------------------------
#contents {
  display: block;
  padding-bottom: 80px;
  background-color: $base-white;
  @include media-max(lg) {
    padding: 55px 0 60px;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .06);
  }
  > .wrap {
    padding-top: 40px;
    @include media-max(lg) {
      padding-top: 30px;
    }
    .nowrapwidth-layout & {
      width: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#contents-container {
  display: flex;
  justify-content: space-between;
  @include media-max(lg) {
    flex-direction: column;
  }
  .second-column-right & {
    flex-direction: row-reverse;
  }
}

#first-column {
  width: $first-column;
  @include media-max(lg) {
    width: 100%;
    max-width: $max-width-mobile;
    margin: 0 auto;
    .nowrapwidth-layout & {
      max-width: none;
    }
  }
  .onecolumn-layout & {
    width: $one-column;
    margin: 0 auto;
    @include media-max(lg) {
      width: 100%;
    }
  }
  .fullwidth-layout & {
    width: 100%;
    margin: 0 auto;
  }
  .nowrapwidth-layout & {
    width: 100%;
    margin: 0 auto;
  }
}

#second-column {
  width: $second-column;
  .onecolumn-layout &,
  .fullwidth-layout &,
  .nowrapwidth-layout & {
    display: none;
  }
  @include media-max(lg) {
    display: none;
  }
}

// [deprecated]
#one-column {
  width: $one-column;
  margin: 0 auto;
  &.full-width {
    width: 100%;
  }
  @include media-max(lg) {
    width: 100%;
    max-width: $max-width-mobile;
  }
  & + #second-column {
    display: none;
  }
}

.hidden-column {
  display: none;
}

article {
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
}
