@use 'config' as cfg;
//--------------------------------------------------------------------
// main
//--------------------------------------------------------------------
#contents {
  display: block;
  padding-bottom: 80px;
  background-color: cfg.$base-white;
  @include cfg.media-type(xl) {
    padding: 55px 0 60px;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .06);
  }
  > .wrap {
    padding-top: 40px;
    @include cfg.media-type(xl) {
      padding-top: 30px;
    }
  }
}

#contents-container {
  display: flex;
  justify-content: space-between;
  @include cfg.media-type(xl) {
    flex-direction: column;
  }
  .second-column-right & {
    flex-direction: row-reverse;
  }
}

#first-column {
  width: 720px;
  @include cfg.media-type(xl) {
    width: 100%;
    max-width: cfg.$base-max-width-mobile;
    margin: 0 auto;
  }
}

#second-column {
  width: 280px;
  @include cfg.media-type(xl) {
    display: none;
  }
}

#one-column {
  width: 100%;
  @include cfg.media-type(xl) {
    max-width: cfg.$base-max-width-mobile;
    margin: 0 auto;
  }
  & + #second-column {
    display: none;
  }
}

.hidden-column {
  display: none;
}

article {
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-all;
}
