@use 'config' as *;
//--------------------------------------------------------------------
// medium
//--------------------------------------------------------------------

@include media-max(md) {
  // gallery
  //--------------------------------------------------------------------
  .main-article .entry-body {
    .gallery {
      margin: -4px;
    }
    .gallery-item {
      margin: 4px;
      width: calc(50% - 8px) !important;
    }
  }
}
