@use 'config' as cfg;
//--------------------------------------------------------------------
// large
//--------------------------------------------------------------------

@include cfg.media-type(lg) {
  // global footer
  //--------------------------------------------------------------------
  #global-footer .copyright {
    padding-left: cfg.$base-side-space-mobile;
    padding-right: cfg.$base-side-space-mobile;
  }

  // footer widgets
  //--------------------------------------------------------------------
  .footer-widgets > ul {
    padding: 0 cfg.$base-side-space-mobile;
  }
}
