@use 'config' as *;
//--------------------------------------------------------------------
// extra small
//--------------------------------------------------------------------

@include media-max(xs) {
  // nav window
  //--------------------------------------------------------------------
  #nav-window-area {
    transform: translateX(-85.01vw);
    width: 85vw;
    .nav-window-right & {
      transform: translateX(85.01vw);
    }
  }
}
