@use 'config' as cfg;
//--------------------------------------------------------------------
// small
//--------------------------------------------------------------------

@include cfg.media-max(sm) {
  // main visual
  //--------------------------------------------------------------------
  #main-visual {
    .wrap {
      padding-bottom: 80px;
    }
    .page-title {
      font-size: 1.6rem;
    }
    .mv-title-content {
      p {
        font-size: 1.6rem;
      }
    }
  }

  // body
  //--------------------------------------------------------------------
  .main-article .entry-body {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
