@use 'config' as *;
//--------------------------------------------------------------------
// large
//--------------------------------------------------------------------

@include media-max(lg) {
  // global footer
  //--------------------------------------------------------------------
  #global-footer .copyright {
    padding-left: $gap-mobile;
    padding-right: $gap-mobile;
  }

  // footer widgets
  //--------------------------------------------------------------------
  .footer-widgets > ul {
    padding: 0 $gap-mobile;
  }
}
