@use 'config' as cfg;
//--------------------------------------------------------------------
// extra small
//--------------------------------------------------------------------

@include cfg.media-type(xs) {
  // nav window
  //--------------------------------------------------------------------
  #nav-window-area {
    left: -85vw;
    width: 85vw;
    .nav-window-right & {
      left: auto;
      right: -85vw;
    }
  }
}
