@use 'config' as *;
//--------------------------------------------------------------------
// extra small
//--------------------------------------------------------------------

@include media-max(xs) {
  // nav window
  //--------------------------------------------------------------------
  #nav-window-area {
    transform: translateX(min(calc((var(--bb-nav-area) + .2vw) / -1), calc((var(--bb-min-nav-area) + 1px) / -1)));
    width: max(var(--bb-nav-area), var(--bb-min-nav-area));
    .nav-window-right & {
      transform: translateX(max(calc(var(--bb-nav-area) + .2vw), calc(var(--bb-min-nav-area) + 1px)));
    }
  }
}
