//--------------------------------------------------------------------
// large
//--------------------------------------------------------------------

@include media-type(lg) {
  // global footer
  //--------------------------------------------------------------------
  #global-footer .copyright {
    padding-left: $base-side-space-mobile;
    padding-right: $base-side-space-mobile;
  }

  // footer widgets
  //--------------------------------------------------------------------
  .footer-widgets > ul {
    padding: 0 $base-side-space-mobile;
  }
}
