@use 'config' as cfg;
//--------------------------------------------------------------------
// misc
//--------------------------------------------------------------------

// search
//--------------------------------------------------------------------
.widget_search.widget label {
  display: block;
}
.search-form {
  position: relative;
  @include cfg.media-max(xl) {
    margin: 5px 0;
  }
  .screen-reader-text {
    display: none;
  }
  label {
    position: relative;
    &::after {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      color: cfg.$base-gray-4;
      @include cfg.icon-font('f0349');
      font-size: 24px;
      line-height: 1;
      width: 40px;
      height: 38px;
      padding-top: 2px;
      margin: 1px;
      border-left: 1px solid cfg.$base-gray-5;
      transition: all .2s;
      box-sizing: border-box;
    }
    &.hover {
      &::after {
        color: cfg.$base-gray-2;
        background-color: cfg.$base-gray-7;
      }
    }
  }
  input {
    @include cfg.bb-input-decoration();
    @include cfg.bb-input-placeholder();
  }
  .search-field {
    font-size: 14px;
    vertical-align: middle;
    width: 100%;
    height: 40px;
    padding: 8px 48px 8px 8px;
    background-color: cfg.$base-white;
    border: 1px solid cfg.$base-gray-5;
    border-radius: 2px;
    box-sizing: border-box;
    @include cfg.media-max(xl) {
      border-color: cfg.$base-gray-4;
    }
  }
  .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    color: transparent;
    width: 40px;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
    &:focus {
      border-width: 0 !important;
      box-shadow: none;
    }
  }
}
