@use 'config' as *;
//--------------------------------------------------------------------
// mobile nav
//--------------------------------------------------------------------

// screen mask
//--------------------------------------------------------------------
#main-screen-mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--bb-black);
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
  &.nav-window-show {
    opacity: .8;
    visibility: visible;
  }
}

// nav window
//--------------------------------------------------------------------
body.nav-window-show {
  overflow-y: hidden;
}

#nav-window-area {
  display: none;
  position: fixed;
  top: 0;
  bottom: -100px;
  left: 0;
  right: auto;
  z-index: 2;
  width: 400px;
  background-color: var(--bb-white);
  transform: translateX(-401px);
  transition: transform .3s;
  @include media-max(lg) {
    display: block;
  }
  .nav-window-right & {
    left: auto;
    right: 0;
    transform: translateX(401px);
  }
  &.nav-window-show {
    transform: translateX(0) !important;
  }
}

// open button
//--------------------------------------------------------------------
#nav-window-open-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: var(--bb-mobile-header-height);
  height: var(--bb-mobile-header-height);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      max-width: var(--bb-max-width-mobile);
  .btn-symbol {
    display: block;
    position: relative;
    top: calc(50% - 1px);
    height: 2px;
    margin: 0 16px;
    background-color: var(--bb-nav-gray-1);
    &::before {
      display: block;
      position: absolute;
      top: -8px;
      left: 0;
      right: 0;
      content: '';
      height: 2px;
      background-color: var(--bb-nav-gray-1);
    }
    &::after {
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      right: 0;
      content: '';
      height: 2px;
      background-color: var(--bb-nav-gray-1);
    }
  }
  .nav-window-right & {
    left: auto;
    right: 0;
  }
}

// close button
//--------------------------------------------------------------------
#nav-window-close-btn {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 7;
  width: calc(var(--bb-mobile-header-height) - 10px);
  height: calc(var(--bb-mobile-header-height) - 10px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  .nav-window-right & {
    right: 10px;
    left: auto;
  }
  .btn-symbol {
    display: block;
    position: relative;
    top: calc(50% - 1px);
    height: 2px;
    width: 17px;
    margin: 0 auto;
    background-color: var(--bb-nav-gray-1);
    &::before,
    &::after {
      display: block;
      position: absolute;
      height: 2px;
      width: 12px;
      content: '';
      background-color: var(--bb-nav-gray-1);
    }
    &::before {
      top: calc(50% + 3px);
      left: -3px;
      transform: rotate(45deg);
    }
    &::after {
      top: calc(50% - 5px);
      left: -3px;
      transform: rotate(-45deg);
    }
    .nav-window-right & {
      &::before {
        right: -3px;
        left: auto;
        transform: rotate(-45deg);
      }
      &::after {
        right: -3px;
        left: auto;
        transform: rotate(45deg);
      }
    }
  }
}

// nav list (side)
//--------------------------------------------------------------------
#nav-window-scroll {
  position: absolute;
  top: var(--bb-mobile-header-height);
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bb-white);
  padding: 0 0 120px;
  z-index: 8;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#nav-window-container {
  .widget,
  .menu {
    margin: 0;
    padding: 15px var(--bb-gap-mobile);
  }
  .widget .menu {
    padding: 0;
  }
  .widgettitle {
    color: var(--bb-gray-2);
    font-size: 1.3rem;
    @include font-weight(bold);
    padding: 8px 12px;
    margin: 4px 0 8px;
    background-color: var(--bb-gray-7);
    border-radius: 50px;
  }
  ul {
    font-size: 1.5rem;
    li {
      background-color: transparent;
      padding: 0;
      a {
        position: relative;
        display: block;
        font-size: 1em;
        line-height: 1.3;
        color: var(--bb-gray-1);
        text-decoration: none;
        padding: 15px 10px;
        background-color: transparent;
        -webkit-tap-highlight-color: rgba(0, 0, 0, .06);
      }
      .count {
        display: inline-block;
        font-size: 1rem;
        line-height: 1;
        margin-left: 7px;
        padding: 2px 10px;
        background-color: var(--bb-gray-6);
        border-radius: 10px;
      }
    }
  }
  .nav-block {
    border-bottom: 1px solid var(--bb-gray-6);
    &:last-child {
      border-bottom: none;
    }
  }
  .widget_meta,
  .widget_pages,
  .widget_categories,
  .widget_recent_entries,
  .widget_recent_comments,
  .widget_nav_menu .menu {
    ul {
      margin-bottom: 0;
    }
    a {
      position: relative;
      padding-right: 20px;
      &::before {
        position: absolute;
        top: calc(50% - .65em);
        right: 0;
        color: var(--bb-gray-3);
        font-size: 2.25rem;
        margin-right: 0;
        @include icon-font('f0142');
        // transform: scale(1.5);
      }
    }
    span {
      text-decoration: none;
    }
    li {
      margin-top: 0;
      overflow: hidden;
      ul li { // child lv1
        a {
          font-size: 1.4rem;
          padding-left: calc(10px + 1em);
        }
        ul li { // child lv2
          a {
            font-size: 1.4rem;
          padding-left: calc(10px + 2em);
          }
          ul li { // child lv3
            a {
              font-size: 1.4rem;
          padding-left: calc(10px + 3em);
            }
          }
        }
      }
    }
  }
  // acoordion menu
  .acoordion-menu {
    > a {
      margin-right: 42px;
    }
  }
  .icon-toggle {
    display: block;
    position: absolute;
    top: calc(50% - 17px);
    right: -42px;
    width: 34px;
    height: 34px;
    // border: 1px solid var(--bb-gray-6);
    z-index: 2;
    &::before,
    &::after {
      display: block;
      position: absolute;
      top: 8px;
      bottom: 8px;
      left: calc(50% - 1px);
      content: '';
      width: 2px;
      height: auto;
      background-color: var(--bb-nav-gray-1);
      opacity: 1;
      transition: all .3s;
      z-index: 2;
    }
    &::after {
      transform: rotate(90deg);
    }
  }
  .widget_meta,
  .widget_pages,
  .widget_categories,
  .menu {
    position: relative;
    .child-group {
      max-height: 0;
      opacity: 0;
      overflow-y: hidden;
      transition: all .3s;
    }
    .acoordion-menu.active {
      .child-group {
        max-height: 150vh;
        opacity: 1;
      }
      .icon-toggle {
        &::before {
          transform: rotate(270deg);
          opacity: 0;
        }
      }
    }
  }
  .select-area {
    margin: 0 var(--bb-gap-mobile) 10px;
  }
  .recentcomments .entry-title:hover {
    text-decoration: none;
  }
  .widget_archive {
    .widgettitle {
      margin-bottom: 15px;
    }
    ul {
      margin: 4px -1.5% 0;
      > li {
        flex: 0 1 22%;
        margin: 0 1.5%;
        a {
          padding: 10px 0;
        }
      }
    }
    .year-title {
      flex: 0 1 100%;
      font-size: 1.3rem;
      margin: 0 0 4px 1.5%;
      border-top: none;
    }
    .month {
      display: block;
    }
    .count {
      font-size: 1.2rem;
      margin: 3px 0 0 0;
      background-color: var(--bb-gray-7);
    }
  }
  .tagcloud {
    margin: 0 5px 10px;
    .wp-tag-cloud {
      margin: -5px;
      > li {
        font-size: 1.4rem;
        border: none;
        a {
          display: inline-block;
          line-height: 1;
          padding: 9px;
          margin: 5px;
          background-color: var(--bb-gray-7);
          -webkit-tap-highlight-color: rgba(0, 0, 0, .06);
        }
      }
    }
  }
  .calendar_wrap {
    margin: 5px 0 10px;
  }
}
