@use 'config' as cfg;
//--------------------------------------------------------------------
// widget
//--------------------------------------------------------------------

// common
//--------------------------------------------------------------------
#contents-container {
  // ウイジェットの上部オフセットを設定
  .sticky-widget,
  .bottom-fixed-widget.initial,
  .bottom-fixed-widget.sticky {
    top: 60px;
  }
  // ウイジェットの幅を設定
  .sticky-widget,
  .bottom-fixed-widget {
    width: cfg.$second-column;
  }
  .sticky-widget {
    position: sticky;
  }
  .bottom-fixed-widget {
    position: relative;
    bottom: 0;
    &.fixed {
      position: fixed;
    }
    &.sticky {
      position: fixed;
      bottom: auto;
    }
    &.absolute {
      position: absolute;
      top: auto;
      bottom: 0;
    }
  }
}

.widget {
  margin-bottom: 30px;
  ul {
    font-size: 1.5rem;
    margin-top: 8px;
    &:first-of-type {
      margin-top: 0;
    }
    > li {
      line-height: 1.3;
      list-style: none;
      margin-top: 8px;
      &:first-of-type {
        margin-top: 0;
      }
    }
    &.children,
    &.sub-menu {
      margin-bottom: 16px;
      > li {
        margin-top: 8px;
        padding-left: 1em;
      }
    }
    .cat-item-none {
      color: cfg.$base-gray-4;
    }
  }
  .count {
    display: inline-block;
    color: cfg.$base-gray-3;
    font-size: 1.2rem;
    line-height: 1;
    margin-left: 7px;
    padding: 2px 10px;
    background-color: cfg.$base-gray-7;
    border-radius: 15px;
  }
  .select-area {
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: cfg.$base-white;
    border-radius: 2px;
    &::before {
      display: block;
      position: absolute;
      top: calc(50% - 6px);
      right: 8px;
      content: '';
      width: 6px;
      height: 6px;
      border-bottom: 2px solid cfg.$base-gray-2;
      border-right: 2px solid cfg.$base-gray-2;
      transform: rotate(45deg);
      transform-origin: center;
      z-index: 1;
    }
  }
  label {
    display: none;
  }
  select {
    position: relative;
    font-size: 1.5rem;
    line-height: 1.56;
    width: 100%;
    padding: 5px 25px 5px 5px;
    margin: 0;
    background-color: transparent;
    border: 1px solid cfg.$base-gray-4;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
  }
}

// recent comments
//--------------------------------------------------------------------
.widget_recent_comments .recentcomments {
  a {
    text-decoration: none;
  }
  .entry-title:hover {
    text-decoration: underline;
  }
  .comment-user {
    color: cfg.$base-gray-3;
    font-size: 1.2rem;
    &::before {
      content: '（';
    }
    &::after {
      content: '）';
    }
  }
}

// archive
//--------------------------------------------------------------------
.widget_archive > ul {
  &:last-of-type {
    margin-bottom: -5px;
  }
  a {
    &:hover {
      .count {
        color: cfg.$base-gray-3;
        background-color: cfg.$base-gray-6;
      }
    }
  }
  > li {
    &.year-title {
      margin-left: 0;
    }
    .month-list {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-top: 4px;
      overflow: hidden;
      @include cfg.media-max(xl) {
        margin: 4px 2.5% 0;
      }
      > li {
        margin: 0 15px 5px 0;
        @include cfg.media-max(xl) {
          width: 22%;
          margin: 0 1.5%;
          text-align: center;
          border-top: 1px solid cfg.$base-gray-7;
        }
        &:first-of-type {
          margin-right: 0;
        }
        .month {
          @include cfg.media-max(xl) {
            display: block;
          }
        }
        .count {
          transition: all .2s;
          @include cfg.media-max(xl) {
            font-size: 1rem;
            margin: 3px 0 0 0;
          }
        }
      }
      .year {
        display: none;
      }
    }
  }
}

// tag
//--------------------------------------------------------------------
.widget_tag_cloud {
  .tagcloud {
    line-height: 1.2;
    margin: -3px;
  }
  .wp-tag-cloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > li {
      font-size: 1.5rem;
      margin: 0;
    }
  }
  a {
    display: block;
    font-size: 1em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    padding: 6px 9px;
    background-color: cfg.$base-gray-7;
    border-radius: 2px;
    transition: background-color .2s;
    &:hover {
      background-color: cfg.$base-gray-6;
    }
  }
}

// calendar
//--------------------------------------------------------------------
.widget_calendar {
  table {
    width: 100%;
    border-collapse: collapse;
  }
  caption {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 7px;
  }
  tr {
    font-size: 1.5rem;
    line-height: 1;
  }
  th {
    padding: 8px 0 7px;
  }
  td {
    padding: 8px 0 7px;
  }
  thead {
    background-color: cfg.$base-gray-6;
    tr {
      color: cfg.$base-gray-2;
    }
    th {
      @include cfg.font-weight(normal);
      text-align: center;
      border: 1px solid cfg.$base-gray-4;
      &:last-of-type {
        color: cfg.$base-red-1;
      }
    }
  }
  tbody {
    background-color: cfg.$base-white;
    tr {
      color: cfg.$base-gray-2;
    }
    td {
      text-align: center;
      border: 1px solid cfg.$base-gray-5;
      a {
        display: block;
        @include cfg.font-weight(bold);
        margin: -8px 0 -7px;
        padding: 8px 0 7px;
        background-color: cfg.$base-gray-7;
        &:hover {
          background-color: cfg.$base-gray-6;
        }
      }
      &:last-of-type {
        color: cfg.$base-red-1;
      }
    }
  }
  tfoot {
    a {
      font-size: 1.3rem;
    }
    #prev {
      text-align: left;
    }
    #next {
      text-align: right;
    }
  }
  #today {
    @include cfg.font-weight(bold);
    color: cfg.$base-gray-1;
    text-decoration: underline;
  }
}

// global widget
//--------------------------------------------------------------------
#global-widget {
  position: relative;
  &::after {
    display: block;
    content: '';
    overflow: hidden;
  }
  .widgettitle {
    font-size: 1.8rem;
    line-height: 1.3;
    @include cfg.font-weight(normal);
    margin-bottom: 10px;
  }
  .widget_meta > ul,
  .widget_categories > ul,
  .widget_nav_menu .menu {
    margin-bottom: 30px;
    background-color: cfg.$base-white;
    li {
      margin: 0;
      list-style: none;
      a {
        display: block;
        font-size: 1.5rem;
        text-decoration: none;
        line-height: 1.3;
        transition: all .2s;
        .count {
          transition: all .2s;
        }
        &:hover {
          background-color: cfg.$base-gray-7;
          .count {
            color: cfg.$base-gray-2;
            background-color: cfg.$base-gray-5;
          }
        }
      }
    }
    > li {
      border-top: 1px solid cfg.$base-gray-5;
      > a {
        padding: 12px 8px;
      }
      &:first-child {
        border-top: none;
      }
      ul {
        margin-bottom: 0;
      }
      > ul li { // child lv1
        padding-left: 0;
        border-top: 1px dotted cfg.$base-gray-6;
        > a {
          font-size: .933333em;
          line-height: 1.4;
          padding: 10px 8px 10px 20px;
        }
        > ul li { // child lv2
          a {
            padding-left: 30px;
          }
          > ul li { // child lv3
            a {
              padding-left: 40px;
            }
          }
        }
      }
    }
  }
}
