@font-face {
  font-family: 'BlankBlanc-Icons';
  src:
    url('../fonts/BlankBlanc-Icons.ttf?7nner8') format('truetype'),
    url('../fonts/BlankBlanc-Icons.woff?7nner8') format('woff'),
    url('../fonts/BlankBlanc-Icons.svg?7nner8#BlankBlanc-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bbi-"], [class*=" bbi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'BlankBlanc-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bbi-arrow-left:before {
  content: "\f004d";
}
.bbi-arrow-right:before {
  content: "\f0054";
}
.bbi-arrow-up:before {
  content: "\f005d";
}
.bbi-arrow-down:before {
  content: "\f0045";
}
.bbi-chevron-left:before {
  content: "\f0141";
}
.bbi-chevron-right:before {
  content: "\f0142";
}
.bbi-chevron-up:before {
  content: "\f0143";
}
.bbi-chevron-down:before {
  content: "\f0140";
}
.bbi-page-first:before {
  content: "\f0600";
}
.bbi-page-last:before {
  content: "\f0601";
}
.bbi-format-quote-open:before {
  content: "\f0757";
}
.bbi-format-quote-close:before {
  content: "\f027e";
}
.bbi-close:before {
  content: "\f0156";
}
.bbi-magnify:before {
  content: "\f0349";
}
.bbi-calendar-blank:before {
  content: "\f00ee";
}
.bbi-folder-open:before {
  content: "\f0770";
}
.bbi-fountain-pen-tip:before {
  content: "\f0d13";
}
.bbi-tag-text-outline:before {
  content: "\f04fd";
}
.bbi-open-in-new:before {
  content: "\f03cc";
}
.bbi-dock-window:before {
  content: "\f10ac";
}
.bbi-clock-outline:before {
  content: "\f0150";
}
.bbi-update:before {
  content: "\f06b0";
}
