//--------------------------------------------------------------------
// archive pagination (BlankBlanc)
//--------------------------------------------------------------------
.archive-pagination {
  margin: 15px 0;
  .page-numbers {
    line-height: 44px;
    width: 44px;
    height: 44px;
    margin: 0 3.5%;
  }
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .06);
    background-color: transparent;
  }
  .current {
    color: inherit;
    width: auto;
    border: none;
    background-color: transparent;
    &::after {
      content: 'ページ';
    }
  }
  .prev,
  .next {
    width: auto;
    padding: 0 4.5%;
  }
  .inactive,
  .first,
  .last {
    display: none;
  }
}

//--------------------------------------------------------------------
// archive pagination (the_posts_pagination)
//--------------------------------------------------------------------
.navigation.pagination {}
