//--------------------------------------------------------------------
// archive
//--------------------------------------------------------------------
.archive-list {
  .term-description {
    margin-left: $base-side-space-mobile;
    margin-right: $base-side-space-mobile;
    padding: 15px;
  }
  .archive-header {
    margin: 0 $base-side-space-mobile 15px;
    .page-title {
      font-size: 2rem;
      line-height: 1.25;
    }
  }
  .entry-articles {
    margin: 0 $base-side-space-mobile;
  }
  .entry-article {
    padding: 15px 0 0;
    border-bottom: 1px solid $base-gray-6;
  }
  .article-container {
    display: block;
  }
  .thumbnail {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-bottom: 15px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .entry-header {
    overflow: hidden;
    .title {
      font-size: 1.6rem;
      line-height: 1.3;
    }
    .meta {
      li {
        font-size: 1.2rem;
        margin: 0 10px 2px 0;
        .year,
        .month,
        .day {
          margin-right: 0;
        }
      }
    }
  }
  .entry-body {
    padding-bottom: 15px;
    clear: both;
    p {
      font-size: 1em;
      line-height: 1.65;
    }
  }
  #no-result {
    padding: 80px 0;
  }
}
