@charset 'UTF-8';

//--------------------------------------------------------------------
// base
//--------------------------------------------------------------------
#main-screen {
  position: relative;
  min-width: $base-min-width-mobile;
  overflow-x: hidden;
  background-color: $base-gray-7;
}

.wrap {
  width: 100%;
  padding: 0;
}

.is-pc {
  display: none;
}

.is-mobile {
  display: inherit;
}
