@charset 'UTF-8';

//--------------------------------------------------------------------
// comments
//--------------------------------------------------------------------
#comments {
  font-size: 1.4rem;
  margin-top: 40px;
  padding-top: 20px;
  #comments-title {
    font-size: 1.8rem;
  }
  #reply-title {
    font-size: 1.7rem;
    small {
      font-size: 1.2rem;
      a {
        padding: 2px 8px;
      }
    }
  }
  .comment-list {
    overflow: visible;
    li {
      overflow: visible;
    }
    #respond #reply-title {
      font-size: 1.7rem;
    }
    div.avatar {
      margin-right: 10px;
    }
    .comment-block .header {
      font-size: 1.2rem;
      .author {
        margin-right: 10px;
      }
      .date {
        margin-right: 10px;
        .year,
        .month,
        .day {
          margin-right: 0;
        }
      }
    }
    .children {
      margin: 20px 0 0 15px;
      overflow: visible;
    }
  }
  #respond {
    width: auto;
    .inputtext {
      width: auto;
    }
    .not-publish {
      display: block;
      margin-bottom: 5px;
    }
    input[type='text'] {
      font-size: 1.7rem;
      padding: 8px;
    }
    input[type='submit'] {
      font-size: 1.7rem;
    }
    textarea {
      font-size: 1.7rem;
      height: 200px;
      padding: 8px;
    }
    .form-submit {
      text-align: center;
      margin-top: 20px;
    }
  }
  .comment-notes {
    display: none;
  }
}
