@charset 'UTF-8';

//--------------------------------------------------------------------
// archive
//--------------------------------------------------------------------
.archive-tiles {
  margin-left: $base-side-space-mobile;
  margin-right: $base-side-space-mobile;
  .term-description {
    padding: 15px;
  }
  .archive-header {
    margin: 0 0 15px;
    .page-title {
      font-size: 2rem;
      line-height: 1.25;
    }
  }
  .entry-articles {
    margin: 0 -15px;
    @include media-type(md) {
      margin: 0 -10px;
    }
  }
  .entry-article {
    padding: 0 15px;
    margin-bottom: 30px;
    #one-column & {
      width: calc(100% / 3);
    }
    @include media-type(md) {
      padding: 0 10px;
    }
    @include media-type(sm) {
      width: calc(100% / 2);
      #one-column & {
        width: calc(100% / 2);
      }
    }
  }
  .entry-header {
    .title {
      font-size: 1.6rem;
      line-height: 1.3;
    }
    .meta {
      li {
        font-size: 1.2rem;
        margin: 0 10px 2px 0;
        .year,
        .month,
        .day {
          margin-right: 0;
        }
      }
    }
  }
  .entry-body {
    padding-bottom: 15px;
    clear: both;
    p {
      font-size: 1em;
      line-height: 1.65;
    }
  }
  #no-result {
    padding: 80px 0;
  }
}

// pagination
//--------------------------------------------------------------------
.archive-list .pagination {
  margin: 15px $base-side-space-mobile 0;
  .page-numbers {
    line-height: 44px;
    width: 44px;
    height: 44px;
    margin: 0 $base-side-space-mobile;
  }
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .06);
    background-color: transparent;
  }
  .current {
    color: inherit;
    width: auto;
    border: none;
    background-color: transparent;
    &::after {
      content: 'ページ';
    }
  }
  .prev,
  .next {
    width: auto;
    padding: 0 $base-side-space-mobile;
  }
  .inactive,
  .first,
  .last {
    display: none;
  }
}
