@charset 'UTF-8';

//--------------------------------------------------------------------
// common
//--------------------------------------------------------------------

// main visual
//--------------------------------------------------------------------
#main-visual {
  margin: 0 auto 0%;
  .page-title {
    left: 0;
    right: 0;
    font-size: 2.2rem;
    line-height: 1.25;
    padding: 0 4.0%;
  }
}
