//--------------------------------------------------------------------
// common
//--------------------------------------------------------------------

// main visual
//--------------------------------------------------------------------
#main-visual {
  .page-title {
    left: 0;
    right: 0;
    font-size: 2.2rem;
    line-height: 1.25;
    max-width: $base-max-width-mobile ;
    padding: 0 $base-side-space-mobile;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .mv-title {
    font-size: 2.2rem;
    &-content {
      p {
        font-size: 2.2rem;
      }
    }
  }
}
