//--------------------------------------------------------------------
// gotop button
//--------------------------------------------------------------------
#gotop-button {
  opacity: .5;
  .gotop-symbol {
    width: 48px;
    height: 48px;
    opacity: .65 !important;
    .symbol {
      top: 16px;
    }
  }
}
