@charset 'UTF-8';

//--------------------------------------------------------------------
// gotop button
//--------------------------------------------------------------------
#gotop-button {
  opacity: .5;
  .gotop-symbol {
    width: 48px;
    height: 48px;
    &:hover {
      opacity: .65;
    }
    .symbol {
      top: 16px;
    }
  }
}
