//--------------------------------------------------------------------
// header
//--------------------------------------------------------------------
#global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,.8);
  border-bottom: 1px solid $base-gray-5;
  z-index: 1000;
  .wrap {
    height: 54px;
  }
  .logo {
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;
    text-align: center;
    a {
      display: inline-block;
    }
    img {
      height: 22px;
    }
  }
  .site-title {
    font-size: 2rem;
  }
  .copy {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 6px;
    font-size: 1.125rem;
    text-align: center;
  }
}

#header-nav {
  display: none;
}
