@charset 'UTF-8';

//--------------------------------------------------------------------
// large
//--------------------------------------------------------------------

// global footer
//--------------------------------------------------------------------
#global-footer .copyright {
  padding-left: 4.0%;
  padding-right: 4.0%;
}

// footer widgets
//--------------------------------------------------------------------
.footer-widgets > ul {
  padding: 0 4.0%;
}
