//--------------------------------------------------------------------
// misc
//--------------------------------------------------------------------

// search
//--------------------------------------------------------------------
.search-form {
  margin: 0 $base-side-space-mobile;
  .search-field {
    border-color: $base-gray-4;
  }
}

// error404
//--------------------------------------------------------------------
#contents.error404 {
  .wrap {
    padding: 100px 0 50px;
  }
  .title {
    font-size: 3.8rem;
    line-height: 1;
  }
  p {
    font-size: 1.3rem;
    line-height: 1;
    margin-top: 10px;
  }
}
