@use 'config' as cfg;
//--------------------------------------------------------------------
// wp-block: basic
//--------------------------------------------------------------------
.entry-body .wp-block {
  &-group {
    &__inner-container {
      width: 100%;
      max-width: cfg.$width-desktop;
      margin: 0 auto;
      box-sizing: border-box;
      .nowrapwidth-layout & {
        @include cfg.media-max(lg) {
          width: calc(100% - #{cfg.$gap-mobile * 2});
          max-width: calc(#{cfg.$max-width-mobile} - #{cfg.$gap-mobile * 2});
        }
      }
    }
  }
  &-table {
    margin: 25px 0;
    .table-content {
      margin: 0;
    }
    figcaption {
      font-size: .8em;
      line-height: 1.5;
      padding: 7px;
      background-color: cfg.$base-gray-7;
      box-sizing: border-box;
    }
  }
  &-image {
    figcaption {
      font-size: .8em;
      line-height: 1.5;
      padding: 7px;
      margin: 0;
      background-color: cfg.$base-gray-7;
      box-sizing: border-box;
    }
  }
  &-gallery {
    margin: 25px 0;
    .blocks-gallery {
      &-grid {
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-between;
      }
      &-item {
        margin-top: 0;
        margin-bottom: 1em;
        @include cfg.media-max(b-md) {
          flex: 0 0 calc(50% - .5em);
        }
        &:first-of-type {
          margin-top: 0;
        }
        &:last-of-type {
          margin-bottom: 1em;
        }
      }
      &-caption {
        font-size: .8em;
        line-height: 1.5;
        padding: 7px;
        margin: 0;
        background-color: cfg.$base-gray-7;
        box-sizing: border-box;
      }
    }
  }
}
