//--------------------------------------------------------------------
// classic editor
//--------------------------------------------------------------------
.mce-content-body {
  font-family: 'Helvetica Neue', 'Segoe UI', '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, 'メイリオ', sans-serif;
  line-height: 1.7;
  hr {
    height: 0;
    margin: 25px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
  }
}
