@use 'config' as cfg;
//--------------------------------------------------------------------
// editor-style
//--------------------------------------------------------------------
.mce-content-body {
  font-family: 'Helvetica Neue', 'Segoe UI', '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', Meiryo, 'メイリオ', sans-serif;
  line-height: 1.7;
  @media all and (-ms-high-contrast: none) { // ie11
    font-family: 'Helvetica Neue', 'Segoe UI', Meiryo, 'メイリオ', sans-serif;
  }
  hr {
    height: 0;
    margin: 25px 0;
    border: none;
    border-bottom: 1px solid cfg.$base-gray-6;
  }
}
