//--------------------------------------------------------------------
// config
//--------------------------------------------------------------------
@use 'sass:math';
@use 'sass:map';
@use 'sass:string';

// width
//--------------------------------------------------------------------
$base-width-full: 1050px;
$base-min-width-full: 1100px;
$base-max-width-mobile: 700px;
$base-min-width-mobile: 360px;
$base-side-space-full: math.div($base-min-width-full - $base-width-full, 2);
$base-side-space-mobile: 4.2vw;

// color
//--------------------------------------------------------------------
$base-white: #fff;
$base-black: #000;
$base-gray-1: #353535;
$base-gray-2: #787878;
$base-gray-3: #a0a0a0;
$base-gray-4: #d5d5d5;
$base-gray-5: #e0e0e0;
$base-gray-6: #ebebeb;
$base-gray-7: #f5f5f5;
$base-red-1: #df0002;

$link-color: #3b99d8;
$link-color-hover: #e84824;
$btn-color-hover: #248ac6;
$reset-color: #d5d5d5;
$reset-color-hover: #c7c7c7;

$input-border: #ddd;
$input-border-focus: #6ac;
$input-border-shadow: #6af;

$nav-gray-1: #a0a0a0;

$form-red-1: #c00000;


// font
//--------------------------------------------------------------------
$base-font-normal: 450;
$base-font-bold: 600;
@mixin font-weight($weight: '') {
  @if $weight == 'bold' {
    font-weight: bold;
    .os-windows & {
      font-weight: $base-font-bold;
    }
  } @else {
    font-weight: normal;
    .os-windows & {
      font-weight: $base-font-normal;
    }
  }
}

// icon
//--------------------------------------------------------------------
@mixin icon-font($content1: '', $content2: '', $rotate: '') {
  font-family: "BlankBlanc-Icons";
  @if $content2 == '' {
    content: string.unquote('\'\\') + $content1 + string.unquote('\'');
  } @else {
    content: string.unquote('\'\\') + $content1 + string.unquote('\\') + $content2 + string.unquote('\'');
  }
}

// opacity
//--------------------------------------------------------------------
@mixin opacity-transition($number: 1) {
  opacity: $number;
  transition: all .2s;
}
@mixin opacity-hover($number: .8) {
  opacity: $number;
}

// break point
//--------------------------------------------------------------------
//  @media (max-width:)
//  |max: 1000px ~ 1200px ------------------>|
//  |xl: 768px ~ 999px --------------->|
//  |lg: 640px ~ 767px ---------->|
//  |md: 540px ~ 639px ------>|
//  |sm: 450px ~ 539px --->|
//  |xs: 360px ~ 449px ->|
//  |min: ~ 359px ---->|
$breakpoints: (
  max: 1200px,
  // xl: 1000px,
  xl: 768px,
  lg: 768px,
  md: 640px,
  sm: 540px,
  xs: 450px,
  min: 360px
);
@mixin media-type($type: lg) {
  @media (max-width: map.get($breakpoints, $type) - 1) {
    @content;
  }
}

// form
@mixin bb-input-decoration() {
  transition: all .2s;
  box-shadow: none;
  &:focus {
    border-color: $input-border-focus;
    box-shadow: 0 0 8px -2px $input-border-shadow;
  }
}
@mixin bb-button-decoration($type: '') {
  @if $type == 'reset' {
    background-color: $reset-color;
  } @else {
    background-color: $link-color;
  }
  border: 0;
  border-radius: 4px;
  transition: all .2s;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    @if $type == 'reset' {
      background-color: $reset-color-hover;
    } @else {
      background-color: $btn-color-hover;
    }
  }
  &:active {
    @if $type == 'reset' {
      background-color: $reset-color-hover;
      box-shadow: 0 0 8px -2px $reset-color-hover;
    } @else {
      background-color: $btn-color-hover;
      box-shadow: 0 0 8px -2px $input-border-shadow;
    }
  }
}

@mixin bb-input-placeholder() {
  &::-webkit-input-placeholder {
    color: $input-border;
  }
  &::-moz-placeholder {
    color: $input-border;
  }
  &:-ms-input-placeholder {
    color: $input-border;
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}
