//--------------------------------------------------------------------
// config
//--------------------------------------------------------------------
@use 'sass:meta';
@use 'sass:math';
@use 'sass:map';
@use 'sass:string';

// length
//--------------------------------------------------------------------
$width-limit: 1850px;
$width-desktop: 1150px;
$over-width: 1500px;
$first-column: 750px;
$second-column: 350px;
$one-column: 750px;
$max-width-mobile: 700px;
$min-width-mobile: 375px;
$gap-desktop: 25px;
$nowrap-tile-step: 280px;
$global-nav-height: 40px;
// mobile
$gap-mobile: 4.2vw;
$mobile-header-height: 54px;
// nav
$nav-area: 86vw;
$max-nav-area: 400px;
$min-nav-area: 335px;

// color
//--------------------------------------------------------------------
$base-white: #fff;
$base-black: #000;
$base-gray-1: #353535;
$base-gray-2: #707070;
$base-gray-3: #a0a0a0;
$base-gray-4: #d5d5d5;
$base-gray-5: #e0e0e0;
$base-gray-6: #ebebeb;
$base-gray-7: #f5f5f5;
$base-red-1: #e90010;
$base-red-2: #ff4a4a;
$base-red-3: #ad002b;

$link-color: #0062d1;
$link-color-hover: #e90010;
$btn-color-hover: #0862b6;
$reset-color: #d5d5d5;
$reset-color-hover: #c7c7c7;

$input-border: #ddd;
$input-border-focus: #6ac;
$input-border-shadow: #6af;

$nav-gray-1: #a0a0a0;

$form-red-1: #c50010;

// highlighter
//--------------------------------------------------------------------
$hl-red-rgb: 252, 92, 92;
$hl-orange-rgb: 253, 153, 38;
$hl-yellow-rgb: 247, 247, 14;
$hl-green-rgb: 108, 231, 104;
$hl-blue-rgb: 114, 152, 233;
$hl-purple-rgb: 197, 97, 236;
$hl-pink-rgb: 247, 125, 210;
$hl-sky-rgb: 137, 208, 255;
$hl-gray-rgb: 202, 202, 202;

// font
//--------------------------------------------------------------------
@mixin font-family($type: '') {
  @if $type == 'bold' {
    font-family: var(--bb-font-family-bold);
  } @else {
    font-family: var(--bb-font-family);
  }
}
@mixin font-weight($weight: '') {
  @if $weight == 'bold' {
    font-family: var(--bb-font-family-bold);
    font-weight: bold;
  } @else {
    font-family: var(--bb-font-family);
    font-weight: normal;
  }
}

// icon
//--------------------------------------------------------------------
@mixin icon-font($content1: '', $content2: '') {
  font-family: "BlankBlanc-Icons";
  @if $content2 == '' {
    content: string.unquote('\'\\') + $content1 + string.unquote('\'');
  } @else {
    content: string.unquote('\'\\') + $content1 + string.unquote('\\') + $content2 + string.unquote('\'');
  }
}

// opacity
//--------------------------------------------------------------------
@mixin opacity-transition($number: 1) {
  opacity: $number;
  transition: all .2s;
}
@mixin opacity-hover($number: .8) {
  opacity: $number !important;
}

// break point
//--------------------------------------------------------------------
//  @media (max-width:)
//  |max: 1000px ~ 1200px ------------------>|
//  |xl: 782px ~ 999px --------------->|
//  |lg: 600px ~ 781px ---------->|
//  |md: 540px ~ 599px ------>|
//  |sm: 450px ~ 539px --->|
//  |xs: 375px ~ 449px ->| -> $min-width-mobile
//  |min: ~ 374px ---->| -> $min-width-mobile
$breakpoints: (
  max: 1200px,
  // xl: 1000px,
  lg: 782px, // *block editor default bp: 782px
  md: 600px, //  *block editor default bp: 600px
  sm: 540px,
  xs: 450px,
  min: $min-width-mobile,
  b-md: 600px
);
@mixin media-max($type: lg) {
  @if meta.type-of($type) == 'number' {
    @media (max-width: #{$type - 1}) {
      @content;
    }
  } @else {
    @media (max-width: (map.get($breakpoints, $type) - 1)) {
      @content;
    }
  }
}
@mixin media-min($type: lg) {
  @if meta.type-of($type) == 'number' {
    @media (min-width: #{$type}) {
      @content;
    }
  } @else {
    @media (min-width: map.get($breakpoints, $type)) {
      @content;
    }
  }
}

// form
//--------------------------------------------------------------------
@mixin bb-input-decoration() {
  transition: all .2s;
  box-shadow: none;
  &:focus {
    border-color: var(--bb-input-border-focus);
    box-shadow: 0 0 8px -2px var(--bb-input-border-shadow);
  }
}
@mixin bb-button-decoration($type: '') {
  @if $type == 'reset' {
    background-color: var(--bb-reset-color);
  } @else {
    background-color: var(--bb-link-color);
  }
  border: 0;
  border-radius: 4px;
  transition: all .2s;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    @if $type == 'reset' {
      background-color: var(--bb-reset-color-hover);
    } @else {
      background-color: var(--bb-btn-color-hover);
    }
  }
  &:focus,
  &:active {
    @if $type == 'reset' {
      background-color: var(--bb-reset-color-hover) !important;
      box-shadow: 0 0 8px -2px var(--bb-reset-color-hover) !important;
    } @else {
      background-color: var(--bb-btn-color-hover) !important;
      box-shadow: 0 0 8px -2px var(--bb-input-border-shadow) !important;
    }
  }
}

@mixin bb-input-placeholder() {
  &::-webkit-input-placeholder {
    color: var(--bb-input-border);
  }
  &::-moz-placeholder {
    color: var(--bb-input-border);
  }
  &:-ms-input-placeholder {
    color: var(--bb-input-border);
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}

// transition border line
@mixin transition-border-line() {
  @include media-min(lg) {
    position: relative;
    background: linear-gradient(0deg, var(--bb-link-color-hover) 1px, transparent 1px);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 0 100%;
    transition: background-size .15s;
    @content;
    &:hover, &:active {
      color: var(--bb-link-color-hover);
      text-decoration: none;
      background-position: bottom left;
      background-size: 100% 100%;
    }
  }
}
